<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="../../assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link active" href="/about">About <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/map">Map</a>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.place %>
              <a class="dropdown-item" href="/places/<%= current_user.place.id %>"><%= current_user.place.name %></a>
            <% else %>
              <a class="dropdown-item" href="/new_place">Create place</a>
            <% end %>
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/edit_profile">Edit profile</a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </div>
  </div>
</nav>
<br>
<div class="container" align="center">
  <h1>About us</h1>
  <p class="lead">Learn about the first luggage storing website.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis malesuada odio eget interdum. Donec tincidunt
    dolor lectus, vel fermentum mauris ultrices eget. Vivamus nisl augue, pulvinar non ligula ac, ornare iaculis velit.
    Morbi at rutrum sapien. Sed non facilisis nibh. Mauris scelerisque, ante et rhoncus vulputate, mi ex semper elit, a
    dapibus odio nunc ac est. Curabitur non pretium dui. Integer feugiat sagittis tincidunt. In libero tellus, blandit
    sit amet suscipit eget, convallis eget arcu. Mauris commodo in nisl non dignissim.

    Etiam tincidunt molestie lectus non condimentum. Curabitur cursus venenatis luctus. Donec aliquam odio mauris, sed
    congue massa dapibus sed. Sed vel hendrerit urna. Aliquam venenatis nisi nulla, eu facilisis lectus faucibus
    ullamcorper. Donec nec massa quam. Duis tincidunt consectetur purus ut porttitor. Etiam sit amet magna auctor,
    suscipit lacus a, scelerisque elit. Suspendisse tempus ex eget ex porttitor ullamcorper. Vestibulum sed tortor vitae
    mauris scelerisque porta. Cras volutpat pellentesque tincidunt. Maecenas nec sem blandit, aliquam erat sed,
    facilisis turpis. Donec fringilla neque nec elit commodo, at sollicitudin neque egestas. Maecenas convallis volutpat
    suscipit. Curabitur libero neque, consectetur non mauris nec, porttitor ullamcorper lacus. </p>
  <hr>
  <h4>Contacts</h4>
  <p>
    For any problem or question, or if you want to report bugs or bad user behaviour, feel free to contact our administrator at admin123@gmail.com, available 24h/7d.
  </p>
</div>

<hr>
